body {padding:0;margin:0}
body {overflow:hidden}
#source {margin-left:1em}
#wrapper {width:100%;overflow:hidden;position:relative}
#sides {height:100%;width:100%;position:relative}
#lhs {float:left;position:relative;}
#lhs_bot {position:relative;width:100%}
#lhs_scroll {position:relative;overflow-y:auto;overflow-x:hidden}
#rhs {float:right;height:100%;}
#rhs .title {display:block;}
#sides {float:left;position:relative}
#scrollframe {overflow-y:auto;overflow-x:hidden;position:relative;}
#scrollframe-lhs {overflow-y:auto;position:relative;height:100%}
.text-active,.text-inactive {margin:0;padding-left:1em;padding-right:0.3em;width:100%;border:0;position:relative}
.text-active {display:block}
.text-inactive {display:none;}
#tabs {height:2.5em;}
#tabs table {margin: 0;height:100%}
.empty-tab {max-width:50%;border-right:1px solid black;border-bottom:1px solid black;}
.active-tab {background-color:white;max-width:50%;border-top:1px solid black;border-right:1px solid black}
.inactive-tab, #plus-tab {max-width:50%;border-top:1px solid black;border-right:1px solid black;border-bottom:1px solid black;}
#plus-tab {width:1em;text-align:center}
#plus-tab:hover {cursor:pointer;background-color:lightblue}
.inactive-tab:hover {cursor:pointer;background-color:lightblue}
.description {margin-right:0.5em}
#ms-fullscreen {color:grey;}
#ms-fullscreen:hover {cursor:pointer}
#scrollframe,#lhs_top,#lhs_scroll {background-color:white;}
#lhs_top {text-align:center}
#lhs,#rhs {width: 50%}
#lhs_top_centre {margin: 0 auto}
/* layers */
#layer-final {color:black}
#layer-1,#layer-2,#layer-3,#layer-4,#layer-5,#layer-6,#layer-7,#layer-8,#layer-9 {color:DimGrey}

