span.inserted {
    color: #00F;
    position: relative;
}
td {
  white-space:nowrap;
}
.siglumleft { 
  font-weight:bold;
  white-space:nowrap;
  position:relative;
  overflow: hidden;
  text-overflow: ellipsis;
}
.siglumleft:hover {
  cursor:pointer;
  background-color:lightblue;
}
#sigla {
    float:left;
    width:12%;
}
#table-wrapper { 
  float:left;
  position:relative;
  overflow-x:auto;
  width:88% 
}
#table_toolbar {
  clear:both;
  text-align:center;
}
#dropdown {
  margin-top:1em;
  margin-bottom:1em;
}
#some_versions {
  margin-right:1em;
  margin-left:0.5em;
}
#rebuild {
  margin-left:2em;
  line-height:1em;
}
#work_title {
  text-align:center;
  font-size:large;
  font-weight:bold;
}
span.description {
  display: none;
}
input[type=button].up,input[type=button].down {
  display:inline;
  margin:0;
  padding:1px 5px 1px 5px;
  line-height:1em;
}
.siglumleft div {
  position:absolute;
  top:0.2em;
  z-index:10;
  opacity: 0.9;
}
