#enlarged {
    position: fixed;
    top: 50%;
    left:50%;
    width: 60%;
    max-height: 75%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
#enlarged:hover
{
    cursor:zoom-out;
}
img[alt=expandable]:hover { cursor:zoom-in }
